.news {
    padding-top: 100px;

}

.news__box {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(97, 119, 152, 0.20);

}



.news__img {
    width: 100%;
    // height: 100%;
    // width: 835px;
    border-radius: 5px;
   

}





.news__content {

}



.news__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 40px 0px 40px;

}

.news__author {
    display: flex;
    align-items: center;
    justify-content: center;

}

.news__avata {
    width: 32px;
    height: 32px;
}

.news__name {
    width: 238px;
    color: $text-text;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    padding-left: 12px;

}

.news__times {
    color: $text-text;
    text-align: right;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 171.429%;

}



.news__title {
    padding: 30px 40px 0px 40px;

}

.news__heading {
    // width: 755px;
    color: $text-heading;
    font-size: 36px;
    font-weight: 500;
    line-height: 127.778%;

}


.news__title--bold {
    color: $text-heading;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
    padding: 40px 0 10px 0;

}

.news__title--solid {
    color: $text-text;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
    padding: 40px 0;

}

.news__title--color {
    color: #4F77FF;
    
}

.news__title-box {
    color: $text-heading;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 155.556%;
    padding: 36px 55px;
    background-color: #F8FAFC;
    border-radius: 5px;

}


// tags-social
.news__tags-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 0px 40px;

}


.news__tags {

}

.news__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;

}

.news__item {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 200%;
    background-color: #4F77FF;
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 6px;

}


.news__social {
    display: flex;
    justify-content: center;
    align-items: center;

}

.news__link {
    display: block;
    font-size: 20px;
    color: $text-text;
    padding: 0 8px;
    text-decoration: none;
    transition: all 0.3s;

}

.news__link:hover {
    cursor: pointer;
    color: #4F77FF;

}
